*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 2;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles start */

.header__container {
  display: flex;
  min-height: 90px;
  align-items: center;
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__logo:hover {
  transition: 0.3s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  margin-left: 20px;
}

.nav_link {
  line-height: 50px;
}

.nav_link:hover {
  transition: 0.3s;
  color: #bdae82;
}

.lang {
  margin-left: 20px;
  font-weight: 700;
}

.lang__en:hover,
.lang__ru:hover {
  transition: 0.3s;
  color: #bdae82;
}

.hamburger {
  background: none;
}

.menu__icon {
  display: none;
  width: 50px;
  height: 35px;
  filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(186deg)
    brightness(108%) contrast(100%);
  margin-left: 20px;
}

/* Header styles end */

/* Main styles start */

.hero__container {
  display: flex;
  min-height: 820px;

  background-image: url("../assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__text {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 160px;
}

.hero__title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #fff;
  margin-bottom: 10px;
}

.hero__subtitle {
  margin-bottom: 25px;
  width: 470px;
}

.button {
  background: #bdae82;
  width: 220px;
  font-family: inherit;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  line-height: inherit;
  padding: 8px auto 7px auto;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.button:hover {
  background: #807557;
  transition: 0.3s;
}

.button_transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #bdae82;
}

.button_transparent:hover {
  background: #bdae82;
  border: none;
  color: #000;
}

.section__title-wrapper {
  width: 50%;
  margin: 100px auto 60px auto;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.section__title {
  /* position: relative; */
  display: inline;
  font-family: "Merriweather", sans-serif;
  font-size: 40px;
  line-height: 80px;
  font-weight: 700;
  padding: 0 20px;
  color: #bdae82;
  /* max-width: 220px; */
  background-color: #000;
  text-align: center;
}

.skills__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill__item {
  text-align: center;
  width: 320px;
}

.skill__icon {
  margin-bottom: 50px;
}

.skill__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
}

.portfolio__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.video__player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__button {
  position: absolute;
  background: none;
  cursor: pointer;
}

.price__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 100px;
}

.price__item {
  text-align: center;
  width: 450px;
  border: 2px solid #bdae82;
}

.price__title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  color: #bdae82;
  margin-top: 43px;
  margin-bottom: 20px;
}

.price__cost {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 20px;
  color: #bdae82;
}

.price__text {
  margin-bottom: 40px;
}

.price__button {
  margin-bottom: 43px;
}

.contacts {
  background: url("../assets/img/contacts-bg.jpg");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  height: 700px;
}

.contacts__container {
  display: flex;
  justify-content: flex-end;
}

.contacts__wrapper {
  width: 450px;
  margin-top: 60px;
}

.contacts__title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin-bottom: 40px;
}

.text__input {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  resize: none;
  margin-bottom: 30px;
}

::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Main styles end  */

/* Footer styles start */

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.github {
  display: flex;
  gap: 20px;
}

.github__page:hover,
.rs:hover {
  color: #bdae82;
  transition: 0.3s;
}

.social {
  display: flex;
  gap: 20px;
}

/* Footer styles end */

/* Adaptive */

/* Экраны до 1440px */
@media (max-width: 1440px) {
  .skills__items {
    justify-content: space-evenly;
  }

  .skill__item {
    margin-bottom: 30px;
  }

  .portfolio__items {
    justify-content: space-evenly;
  }

  .video__player {
    overflow: hidden;
  }

  .price__items {
    justify-content: space-evenly;
  }
}

/* Планшеты до 768px */

@media screen and (max-width: 767px) {
  .header__container {
    padding: 0 60px;
    /* background-position: -5px -30px; */
    /* background: none;
    position: relative; */
    background-position: -5px -30px;
    background-size: auto 620px;
  }

  .hero__container {
    min-height: 500px;
    background-image: url("../assets/img/bg.jpg");
    top: 590px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }

  .hero__text {
    margin-top: 78px;
    margin-left: 40px;
  }

  .hero__title {
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
  }

  .hero__subtitle {
    line-height: 24px;
    width: 390px;
    margin-bottom: 54px;
  }

  .button {
    height: 54px;
  }

  .section__title-wrapper {
    width: 60%;
  }

  .skills__container {
    padding: 0 60px;
  }

  .skills__items {
    gap: 36px;
  }

  .skill__item {
    margin-top: 9px;
    margin-bottom: 36px;
    width: 300px;
    justify-content: space-between;
  }

  .skill__icon {
    margin-bottom: 30px;
  }

  .skill__subtitle {
    line-height: 22px;
  }

  .portfolio__buttons {
    max-width: 445px;
    margin: 0 auto 60px auto;
  }

  .video__img {
    width: auto;
    height: 420px;
  }

  .video__player {
    overflow: visible;
  }

  .price__item {
    width: 420px;
    margin-bottom: 30px;
  }

  .contacts {
    background-size: auto 600px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
  }

  .contacts__container {
    justify-content: center;
    text-align: center;
  }

  .contacts__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .contacts__wrapper {
    margin-top: 60px;
  }

  .footer__container {
    flex-direction: column;
    justify-content: center;
    height: 190px;
    width: auto;
  }

  .social a {
    line-height: 0;
  }

  .rs {
    margin-bottom: 20px;
  }

  /* Hamburger menu */

  .menu__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
  }

  .menu__btn-burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu__btn-burger::before,
  .menu__btn-burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu__btn-burger::before {
    transform: translateY(-16px);
  }

  .menu__btn-burger::after {
    transform: translateY(16px);
  }

  .menu__btn.open .menu__btn-burger {
    background: transparent;
  }

  .menu__btn.open .menu__btn-burger::before {
    transform: rotate(45deg) translate(2px, -2px);
  }

  .menu__btn.open .menu__btn-burger::after {
    transform: rotate(-45deg) translate(2px, 2px);
  }

  body {
    overflow-x: hidden;
  }

  .nav__list {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .nav__open {
    display: flex;
  }
}

/* Phones up to 340px */

@media (max-width: 470px) {
  .header__container {
    padding: 0 20px;
  }

  .menu__btn {
    width: 40px;
    height: 35px;
  }

  .menu__btn-burger::before,
  .menu__btn-burger::after {
    width: 40px;
  }

  .nav__item {
    padding: 0;
    margin: 0;
  }

  .hero__container {
    padding: 0 20px;
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 20px;
    width: 240px;
    margin-bottom: 40px;
  }

  .hero__text {
    margin-left: 0;
  }

  .section__title {
    padding: 0;
    font-size: 30px;
  }

  .section__title-wrapper {
    background-image: none;
  }

  .portfolio__item {
    width: 300px;
  }

  .video__img {
    width: 320px;
    height: auto;
  }

  .video__button img {
    width: 50px;
  }
}
