*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  /* line-height: 2;  */
  color: #fff;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles start */

.header {
}

.header__container {
  display: flex;
  min-height: 90px;
  align-items: center;
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__logo {
}

.header__logo:hover {
  transition: 0.3s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
}

.menu {
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  margin-left: 20px;
}

.nav_link {
  line-height: 50px;
}

.nav_link:hover {
  transition: 0.3s;
  color: #bdae82;
}

.lang {
  margin-left: 20px;
  font-weight: 700;
}

.lang__en {
}

.lang__ru {
}

.lang__en:hover,
.lang__ru:hover {
  transition: 0.3s;
  color: #bdae82;
}

/* Header styles end */

/* Main styles start */

.main {
}

.hero {
}

.hero__container {
  display: flex;
  min-height: 820px;
  flex-direction: column;
  background-image: url("../assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #fff;
}

.hero__button {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 220px;
}
/* Main styles end  */
