*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 2;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles start */

.header__container {
  display: flex;
  min-height: 90px;
  align-items: center;
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__logo:hover {
  transition: 0.3s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  margin-left: 20px;
}

.nav_link {
  line-height: 50px;
}

.nav_link:hover {
  transition: 0.3s;
  color: #bdae82;
}

.lang {
  margin-left: 20px;
  font-weight: 700;
}

.lang__en {
}

.lang__ru {
}

.lang__en:hover,
.lang__ru:hover {
  transition: 0.3s;
  color: #bdae82;
}

/* Header styles end */

/* Main styles start */

.hero__container {
  display: flex;
  min-height: 820px;

  background-image: url("../assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__text {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 160px;
}

.hero__title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #fff;
  margin-bottom: 10px;
}

.hero__subtitle {
  margin-bottom: 25px;
}

.button {
  background: #bdae82;
  width: 220px;
  font-family: inherit;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  line-height: inherit;
  padding: 8px auto 7px auto;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.button:hover {
  background: #807557;
  transition: 0.3s;
}

.button_transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #bdae82;
}

.button_transparent:hover {
  background: #bdae82;
  border: none;
  color: #000;
}

.section__title-wrapper {
  width: 50%;
  margin: 100px auto 60px auto;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.section__title {
  display: inline;
  font-family: "Merriweather", sans-serif;
  font-size: 40px;
  line-height: 80px;
  font-weight: 700;
  padding: 0 20px;
  color: #bdae82;
  background-color: #000;
}

.skills__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill__item {
  text-align: center;
  width: 320px;
}

.skill__icon {
  margin-bottom: 50px;
}

.skill__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
}

.portfolio__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.video__player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__button {
  position: absolute;
  background: none;
  cursor: pointer;
}

.price__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 100px;
}

.price__item {
  text-align: center;
  width: 450px;
  border: 2px solid #bdae82;
}

.price__title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  color: #bdae82;
  margin-top: 43px;
  margin-bottom: 20px;
}

.price__cost {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 20px;
  color: #bdae82;
}

.price__text {
  margin-bottom: 40px;
}

.price__button {
  margin-bottom: 43px;
}

.contacts {
  background: url("../assets/img/contacts-bg.jpg");
  background-size: auto;
  background-position: center center;
  height: 700px;
}

.contacts__container {
  display: flex;
  justify-content: flex-end;
}

.contacts__wrapper {
  width: 450px;
  margin-top: 60px;
}

.contacts__title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin-bottom: 40px;
}

.text__input {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  resize: none;
  margin-bottom: 30px;
}

::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Main styles end  */
