*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  /* line-height: 2;  */
  color: #fff;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles start */

.header {
}

.header__container {
  display: flex;
  min-height: 90px;
  align-items: center;
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__logo {
}

.nav {
  margin-left: auto;
}

.menu {
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  margin-left: 20px;
}

.nav_link {
}

.lang {
  margin-left: 20px;
}

.lang__en {
}

.lang__ru {
}

/* Header styles end */
